.navbar {
    width: 100%;
    border-radius: 0;
    margin-top: 0;
    padding: 0;
}

.navbar__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
    width: 100% !important;
}
.navbar__container__collapse{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 2rem;
    color: white;
}

.navbar__container__collapse__text{
    color: white;
    transition: .3s ease-in-out;
}
.navbar__container__collapse__text:hover{
    color: var(--verde_secundario);
}
.navbar__container__collapse__content{
    display: flex;
    justify-content: end;
    flex-grow: inherit;
    gap: .8rem;
}


